/* .title {
    font-size: larger;
    font-weight: 700;
} */
.month-title {
    font-size: larger;
    font-weight: 700;
}
.month-cell-header {
    padding: 8px;
    font-weight: 700;
}
.month-cell {
    transition: background-color 200ms;
    padding: 4px;
}
.day-number {
    font-size: 2rem;
    font-weight: 800;
    color: alpha(@theme_text_color, 0.20);
}
.month-cell-other {
    background-color: mix(@theme_unfocused_fg_color, @theme_unfocused_bg_color, 0.95);
}
.month-cell:hover {
    background-color: alpha(currentColor, 0.1);
}
.month-cell-current .day-number {
    color: alpha(@theme_unfocused_selected_bg_color, 1);
}
.month-cell-selected, .month-cell-selected:hover {
    background-color: alpha(@theme_selected_bg_color, 0.5);
}
.month-cell-selected .day-number {
    color: alpha(@theme_text_color, 0.5);
}
.event-tag {
    font-weight: 600;
    background-color: @theme_unfocused_fg_color;
    color: @theme_unfocused_bg_color;
    border-radius: 8px;
    font-size: small;
}

.week-cell-header {
    font-weight: 700;
}
.week-cell.week-cell-header-top {
    border-top-width: 0;
}
.week-cell.week-cell-header-left {
    border-left-width: 0;
}
.week-cell {
    border: solid 2px alpha(@borders, 0.7);
    border-width: 2px 0 0 2px;
}
.week-cell-full {
    border-top-color: alpha(@borders, 0.3);
    border-top-style: dashed;
}
.week-cell:hover {
    background-color: alpha(currentColor, 0.1);
}

.create-event {
    padding: 1rem;
}

.create-event .frame row {
    padding: 1rem;
}

.create-event-heading {
    font-weight: 700;
}
