[Desktop Entry]
Name={name}
GenericName={name}
Comment={summary}
Categories={categories}
Icon={package_name}
Exec={package_name}
Terminal=false
Type=Application
